<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Einkaufsliste</h1>
    <ul>
    {% for produkt in produkte %}
        <li>{{produkt.name}}: {{produkt.menge}} ({{produkt.preis}})</li>
    {% endfor %}
    </ul>
</body>
</html>