<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ein Test zum Rendern. Hallo {{name}}.
    Das zweite Element ist: {{liste.1}}

    <table>
    {% for element in liste %}
        <tr><td {% if forloop.counter|divisibleby:2 %}style="background:#cccccc"{%endif%}>{{element}}</td></tr>
    {% endfor %}
    </table>
</body>
</html>