{% if list %}
    <ul>
    {% for item in list %}
        <li><a href="{% url 'todo:list' item.id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no Todo lists.</p>
{% endif %}