<h1>{{ list.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}
<ul>
{% for task in list.task_set.all %}
    <li>{{ task.name }}</li>
{% endfor %}
</ul>
